What is the difference between Series & Dataframes

In [4]:
#Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).
#The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

#Dataframe is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects.
#It is generally the most commonly used pandas object.

Create a database name Travel_Planner in mysql ,and create a table name bookings in that which having
attributes (user_id INT, flight_id INT,hotel_id INT, activity_id INT,booking_date DATE) .fill with some dummy
value .Now you have to read the content of this table using pandas as dataframe.Show the output

In [ ]:
# # bash
# pip install mysql-connector-python pandas

Read Data from MySQL and Display with Pandas:

In [ ]:
# import pandas as pd
# import mysql.connector

# # Establish connection to MySQL database
# connection = mysql.connector.connect(
#     host="localhost",       # Replace with your host
#     user="your_username",   # Replace with your MySQL username
#     password="your_password", # Replace with your MySQL password
#     database="Travel_Planner"
# )

# # Query to read data from the bookings table
# query = "SELECT * FROM bookings;"

# # Load data into a pandas DataFrame
# df = pd.read_sql(query, connection)

# # Close the connection
# connection.close()

# # Display the DataFrame
# print(df)

Output:   
If everything is set up correctly, the output should look like this:

In [ ]:


#    user_id  flight_id  hotel_id  activity_id booking_date
# 0        1        101       201          301   2024-08-01
# 1        2        102       202          302   2024-08-02
# 2        3        103       203          303   2024-08-03
# 3        4        104       204          304   2024-08-04
# 4        5        105       205          305   2024-08-05

Difference between loc and iloc

In [5]:


# **loc** (label-based indexing):
# * Selects data based on labels (row and column names).
# * Uses explicit index and column names.
# * Includes the endpoint when slicing.

# **iloc** (integer-based indexing):
# * Selects data based on numerical positions (row and column indices).
# * Uses integer indices.
# * Excludes the endpoint when slicing.